/*
* Modified Base16 Atelier Dune Light - Theme
* Original by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune) *

.hljs {
  display: block;
  overflow-x: auto;
  background: #f8f8f8;
  color: #6e6b5e;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}


* Atelier-Dune Comment *
.hljs-comment,
.hljs-quote {
  color: #999988;
}

* Atelier-Dune Red *
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #445588;
}

* Atelier-Dune Orange *
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #009999;
}

* Atelier-Dune Green *
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #d14;
}

* Atelier-Dune Blue *
.hljs-title,
.hljs-section {
  color: #6684e1;
}

* Atelier-Dune Purple *
.hljs-keyword,
.hljs-selector-tag {
  color: #b854d4;
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
*/

/*
    Name:       Base16 Default Dark
    Author:     Chris Kempson (http://chriskempson.com)
    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/

/* Default Comment */
.hljs-comment,
.hljs-title {
  color: #b0b0b0;
}

/* Default Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #ac4142;
}

/* Default Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #d28445;
}

/* Default Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #f4bf75;
}

/* Default Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #90a959;
}

/* Default Aqua */
.css .hljs-hexcolor {
  color:: #75b5aa;
}

/* Default Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #6a9fb5;
}

/* Default Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #aa759f;
}

.hljs {
  display: block;
  background: #151515;
  color: #d0d0d0;
  padding: 0.5em;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
	opacity: 0.5;
}
