body {
	background-color: #fff;
	padding: 50px;
	font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #727272;
	font-weight: 400;
	display: flex;
	width: 880px;
	margin: 0 auto
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	margin-top: 1rem;
	margin-bottom: 1rem
}

p, ul, ol, table, pre, dl {
	margin: 0 0 20px
}

main p {
	text-indent: 20px;
	text-align: justify
}

h1, h2, h3 {
	line-height: 1.1
}

h1 {
	font-size: 28px
}

h2 {
	color: #393939
}

h3, h4, h5, h6 {
	color: #494949
}

a {
	color: #39c;
	text-decoration: none
}

a:hover {
	color: #069
}

a small {
	font-size: 11px;
	color: #777;
	margin-top: -0.3em;
	display: block
}

a:hover small {
	color: #777
}

blockquote {
	border-left: 1px solid #e5e5e5;
	margin: 0;
	padding: 0 0 0 20px;
	font-style: italic
}

code, pre {
	font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
	color: #333;
	font-size: 12px
}

pre {
	padding: 8px 15px;
	background: #151515;
	overflow-x: auto
}

table {
	width: 100%;
	border-collapse: collapse
}

th, td {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid #e5e5e5
}

dt {
	color: #444;
	font-weight: 700
}

th {
	color: #444
}

img {
	max-width: 100%
}

header {
	flex-direction: column;
	width: 280px;
	max-height: 800px;
	float: left;
	position: fixed;
	-webkit-font-smoothing: subpixel-antialiased
}

header img {
	max-height: 280px;
	max-width: 280px
}

header ul {
	list-style: none;
	height: 40px;
	padding: 0;
	background: #f4f4f4;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
	width: 270px
}

header li {
	width: 89px;
	float: left;
	border-right: 1px solid #e0e0e0;
	height: 40px
}

header li:first-child a {
	border-radius: 5px 0 0 5px
}

header li:last-child a {
	border-radius: 0 5px 5px 0
}

header ul a {
	line-height: 1;
	font-size: 11px;
	color: #999;
	display: block;
	text-align: center;
	padding-top: 6px;
	height: 34px
}

header ul a:hover {
	color: #999
}

header ul a:active {
	background-color: #f0f0f0
}

header nav {
	flex: 1;
	text-align: center;
	font-size: 1.1em;
	display: flex;
	height: 80px;
	width: 280px;
	flex-direction: row;
	border-top: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	padding-top: 7px
}

header nav section {
	width: 50%;
	flex: 1;
	height: 70px
}

strong {
	color: #222;
	font-weight: 700
}

header ul li + li + li {
	border-right: none;
	width: 89px
}

header ul a strong {
	font-size: 14px;
	display: block;
	color: #222
}

main {
	width: 500px;
	margin-left: auto;
	padding-bottom: 50px
}

small {
	font-size: 11px
}

hr {
	border: 0;
	background: #e5e5e5;
	height: 1px;
	margin: 0 0 20px
}

footer {
	width: 270px;
	float: left;
	position: fixed;
	bottom: 50px;
	-webkit-font-smoothing: subpixel-antialiased
}

ul li, ul li p, ul {
	text-indent: 0;
	text-align: left;
	margin: 0
}

ul + h2, ul + h3 {
	margin-top: 20px
}

@media print, screen and (max-width:960px) {
	body {
		flex-direction: column;
		width: auto;
		margin: 0
	}

	header, main, footer {
		align-self: center;
		float: none;
		position: static;
		width: auto
	}

	body header {
		text-align: center
	}

	main {
		padding: 20px 0;
		margin: 0 0 20px
	}

	header a small {
		display: inline
	}

	header ul {
		position: absolute;
		right: 50px;
		top: 52px
	}

	header nav {
		width: auto
	}

}

@media print, screen and (max-width:720px) {
	body {
		word-wrap: break-word
	}

	header {
		padding: 0
	}

	header ul, header p.view {
		position: static
	}

	pre, code {
		word-wrap: normal
	}

}

@media print, screen and (max-width:480px) {
	body {
		padding: 15px
	}

	header ul {
		width: 99%
	}

	header li, header ul li + li + li {
		width: 33%
	}

}

@media print {
	body {
		padding: 0.4in;
		font-size: 12pt;
		color: #444
	}

}
